.container {
  margin: 40px 0 0 48px;
}

.header {
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: 700;
}

.search_bar {
  width: 954px;
  height: 45px;
  border-radius: 15px;
  border: 1px solid #ebebeb;
  background: #fff;
  display: flex;
  align-items: center;
  margin: 40px 0 30px 0;
  padding: 15px 13px;
}

#search_bar--logo {
  width: 13px;
  height: 14px;
  margin-right: 11px;
}

#search_bar--input {
  border: none;
  width: 835px;
  height: 40px;
}

#search_bar--input:focus {
  outline: none;
}

#search_bar--input::placeholder {
  color: #d1d1d1;
}

#search_bar--tests {
  margin-left: auto;
  font-size: 14px;
  font-family: Roboto;
  color: #d1d1d1;
}

.categories {
  color: #999;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 500;
  display: flex;
  color: #999;
  font-family: Roboto;
  font-size: 11px;
  margin-bottom: 10px;
}

#categories--name,
#categories--type_text,
#categories--status,
#categories--site {
  border: none;
  background: none;
  padding: 0;
}

#categories--name {
  width: 35px;
  height: 15px;
  margin-left: 15px;
}

.categories--type {
  margin-left: 379px;
  display: flex;
  align-items: center;
  width: 43px;
}

#categories--type_text {
  display: flex;
  width: 28px;
  height: 15px;
  flex-direction: column;
  justify-content: center;
  margin-right: 8px;
}

#categories--type_image {
  width: 7px;
  height: 3.865px;
  margin-left: 8px;
}

#categories--status {
  margin-left: 80px;
  width: 48px;
  height: 15px;
}

#categories--site {
  margin-left: 65px;
  width: 37px;
  height: 15px;
}

.no_results {
  width: 810px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 149px 0 0 114px;
  font-family: "Montserrat", sans-serif;
}

#no_results--text {
  color: #222;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 42px;
}

#no_results--button {
  width: 95px;
  height: 30px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  border-radius: 10px;
  border: 1px solid #2ee5ac;
  background: #2ee5ac;
}
