.finalize {
  padding: 0;
}

#finalize--header {
  margin: 41px 0 0 48px;
  color: #222;
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 700;
}

#finalize--paragraph {
  margin: 4px 0 0 48px;
  color: #222;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
}

.back {
  display: flex;
  margin: 620px 0 44px 49px;
  align-items: center;
}

#back--image {
  width: 16px;
  height: 8.834px;
  transform: rotate(-90deg);
  color: #222222;
  margin: 0 19px 0 0;
}

#back--button {
  margin: 0;
  border: none;
  background: none;
}

#back--button--text {
  color: #222;
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
}
