.card {
  display: flex;
  margin-bottom: 5px;
  width: 954px;
  height: 70px;
}

.card:hover {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.card--border {
  width: 4px;
  height: 70px;
  border-radius: 3px 0px 0px 3px;
}

.card--content {
  width: 954px;
  height: 70px;
  border-radius: 3px;
  background: #fff;
  display: flex;
  align-items: center;
  font-family: "Roboto";
}

#card--name {
  margin-left: 10px;
  display: flex;
  width: 389px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  color: #474747;
  font-weight: 500;
  font-size: 13px;
}

#card--type {
  margin-left: 25px;
  display: flex;
  width: 100px;
  height: 30px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #5c5c5c;
  font-size: 12px;
  font-weight: 400;
}

#card--status {
  margin-left: 25px;
  display: flex;
  width: 62px;
  height: 30px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #1bda9d;
  font-size: 12px;
  font-weight: 500;
}

#card--site {
  margin-left: 54px;
  display: flex;
  width: 117px;
  height: 30px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #5c5c5c;
  font-size: 12px;
  font-weight: 400;
}

#card--button {
  margin-left: 60px;
  width: 95px;
  height: 30px;
  border-radius: 10px;
  border: none;
  font-size: 12px;
  font-weight: 600;
}

.button_text {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
}

a {
  text-decoration: none;
}
